<!--This one really exists and has web-type. Hover shows provided description. CMD-Click shows "Can not find declaration to go to"-->
<app-button></app-button>

<!--This one does not exist and has web-type. Hover shows provided description. CMD-Click shows "Can not find declaration to go to"-->
<app-button-not-existing></app-button-not-existing>

<!--This one really does not exist and WebStorm highlight it differently.-->
<app-not-existing-no-webtype></app-not-existing-no-webtype>

<!--This one truly exists and has no web-type. Works fine with automatic indexing and linking-->
<app-input-field></app-input-field>

